#Slack Creds
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_USER_TOKEN=

#Miro Creds
MIRO_CLIENT_ID=
MIRO_CLIENT_SECRET=
MIRO_APP_TOKEN=
MIRO_REDIRECT_URL="http://localhost:3000/redirect",
MIRO_API_URI="https://api.miro.com/v2/"
MIRO_SEARCH_QUERY="Template"
